# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# macOS
.DS_Store

# VS Code
.vscode

# Repository
pretrained_embs/*
!pretrained_embs/embeddings_preproc.py
Untitled*
data/*
segmentation/weights/*
.idea/
*.png
*.jpg
